<!doctype html>

{% extends 'layout.html' %}

{% block body %}
<body>
 <div class="jumbotron text-center">
        <div class="container">
          <h1 class="display-3">Instalasi Ceph</h1>
          <p></p>
        </div>
      </div>
<div>
        <h1>Daftar Node</h1>
        <a href="/Deploy/Addnode"><button class="tombol"> + </button></a>
         <a href='/Deploy/Reset'><button class='tombol'>Reset</button></a><br>
        <table class="table table-striped table-sm">
        <thead>
        <tr>
                  <th>Hostname</th>
                  <th>Alamat IP</th>
                  <th>MON</th>
                  <th>OSD</th>
 <th>RGW</th>
                  <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
</div>



<div>
      <f action = "http://10.10.6.254:8000/Deploy" method = post>
         <fieldset>
            {{ form.hidden_tag()}}
            <p> Instalasi akan memakan waktu kurang lebih 60 menit untuk 3 komputer. Harap tidak membatalkan proses hingga proses selesai </p> <br>
                 <div style = font-size:20px>
               {{ form.release.label }} :
               {{ form.release }}
               <br>
                {{ form.clnet.label }} :
               {{ form.clnet }} Contoh (10.10.6.0/20)
                <br>
                {{ form.osdtype.label }} :
               {{ form.osdtype }}
                 <br>
                {{ form.device.label }} :
               {{ form.device }} Gunakan koma (',') untuk memisahkan, contoh (/dev/sda,/dev/sdb)
                 <br>
                {{ form.isjournal.label }} :
               {{ form.isjournal }}
                <br>
               {{ form.journal.label }} :
               {{ form.journal }} Gunakan koma (',') untuk memisahkan, contoh (/dev/sda,/dev/sdb)
        <br>{{ form.submit}}
            </div>
 </fieldset>
      </form>
</div>
</body>
{% endblock %}

